h2 {
	font-family: sans-serif;
}

p {
	font-family: sans-serif; 
}

.search_bar {
	background-color: #FFA776; 
	display: flex;
	color: white;
	width: 50%;
	height: 30px;
	align-items: center;
	border-radius: 25px;
	margin-top: 2%; 
	margin-bottom: 3%;
}

.placeholder_text {
	display: flex;
	margin-left: 20px; 
	font-style: italic;
}

.greeting_wrapper {
	width: 60%; 
	margin-left: 2%;
}

.add_page_wrapper {
	display: flex;
	justify-content: flex-end;
	width: 100%; 
}

.add_page {
	background-color: #FFA776;
	border: none;
	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
	border-radius: 25px;
	margin-bottom: 2%;
	margin-right: 2%;  
}

.scroll_wrapper { 
	display: flex; 
	flex-wrap: nowrap;
	overflow-x: auto; 
 }

.card {
	flex: 0 0 auto;
	background-color: #A776FF;
	height: 400px;
	width: 400px; 
	margin-left: 50px;
	margin-right: 50px;
}